
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Mile to Metric Converter";
}

<h2>Convert Miles to Metric</h2>



    @*<form action="/Home/Message" method="post">*@
    <form action="Converter" method="get">
        <div class="col-sm-6">

            <label for="name"><b>Miles</b></label>
            <p><input type="number" id="mileNum" name="mileInput"></p>
            <br /><br /><br /><br /><br />
            <h4 style="color:darkred"><b>@ViewBag.message</b></h4>

        </div>

        <div class="col-sm-6">

            <ul style="list-style-type:none">
                <li><h4>Select a Unit</h4></li>
                <li>
                    <input type="radio" name="chooseMetric" id="millimeter" value="mm" checked="checked">
                    <label for="millimeter">millimeters</label>
                </li>

                <li>
                    <input type="radio" name="chooseMetric" id="centimeter" value="cm">
                    <label for="centimeter">centimeters</label>
                </li>

                <li>
                    <input type="radio" name="chooseMetric" id="meter" value="m">
                    <label for="meter">meters</label>
                </li>

                <li>
                    <input type="radio" name="chooseMetric" id="kilometer" value="km">
                    <label for="kilometer">kilometers</label>
                </li>
            </ul>
            <button type="submit" class="btn btn-primary">Convert</button>

        </div>


    </form>





