
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Mile to Metric Converter";
}

<h2>Convert Miles to Metric</h2>



@*<form action="/Home/Message" method="post">*@
<form action="Converter" method="get">
    <div style="padding-bottom:240px;">
        <div class="col-sm-6">

            <label for="name"><b>Miles</b></label>
            <p><input type="number" step="0.001" min="0" id="mileNum" name="mileInput"></p>
            <h4 style="color:darkred; margin-top:160px;"><b>@ViewBag.message</b></h4>

        </div>

        <div class="col-sm-6">

            <ul style="list-style-type:none">
                <li><h4>Select a Unit</h4></li>
                <li>
                    <input type="radio" name="chooseMetric" id="mm" value="millimeters" checked="checked">
                    <label for="mm">millimeters</label>
                </li>

                <li>
                    <input type="radio" name="chooseMetric" id="cm" value="centimeters">
                    <label for="cm">centimeters</label>
                </li>

                <li>
                    <input type="radio" name="chooseMetric" id="m" value="meters">
                    <label for="m">meters</label>
                </li>

                <li>
                    <input type="radio" name="chooseMetric" id="km" value="kilometers">
                    <label for="km">kilometers</label>
                </li>
            </ul>
            <button type="submit" class="btn btn-primary">Convert</button>
        </div>
    </div>


</form>





