@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CS 460 Homework 4</h1>
    <p class="lead">Some forms and simple server-side logic -- Contains basic uses of GET, POST, query strings and form data. All being handled from an ASP.NET MVC 5 application!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Mile to Metric Converter</h2>
        <p>
            Conversion tool that enables you to calculate your choice of miles into discovering how much it is in kilometers,
            centimeters, and many other metric units! This uses query strings to send form data to the server and performs the
            calculation, returning the answer in the requested page.
        </p>
        @Html.ActionLink("Click to Convert", "Converter", "Home", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-6">
        <h2>Color Chooser</h2>
        <p>
            Want to mix your colors together? Now you can! Input two colors and find a resulting mixed color!
            This form POST's the data to the server.
        </p>
        @Html.ActionLink("Mix Colors »", "Index", "Color", null, new { @class = "btn btn-primary btn-large" })
    </div>
</div>