@{
    ViewBag.Title = "Homepage";
}

<div class="jumbotron">
    <h1 style="font-family:'Spectral SC'; text-align:center;">REGINALD'S ANCIENT ANTIQUITIES AUCTION HOUSE</h1>
</div>

<p class="btn btn-primary" style="width:60%; display:block; margin: 0 auto; font-weight:bold;" 
   onclick="location.href='@Url.Action("Create", "Bids")'">Bid on an Item!</p>
