@model PreExistingRelationalDB.Models.ViewModels.ViewModel

    @{
        ViewBag.Title = "WWI - Employee Info";
    }

    <div>

        <div class="row">

            <div class="col-md-12">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayFor(model => model.Person.PreferredName)
                    </dt>
                </dl>
            </div>

        </div>







    </div>

