@* @model IEnumerable < PreExistingRelationalDB.Models.Person> *@

@{
    ViewBag.Title = "World Wide Importers";
}

<h2 style="text-align:center; margin-top:-10px;">Client Search</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @style = "margin-top:30px;" }))
{
    <div class="form-group">

        @Html.TextBox("input", null, new { @class = "form-control", @placeholder = "Search using Client Name", required = "required", @style = "margin: 0px auto;" })
        <div style="text-align:center; margin-top:5px;">
            <button class="btn btn-default" type="submit" style="background-color:#FF2F2F; color:white; text-align:center;">Search</button>
        </div>
    </div>

}
