@model IEnumerable<PreExistingRelationalDB.Models.Person>

@{
    ViewBag.Title = "World Wide Importers";
}

@* This landing page contains a search bar that allows for an input that searches all strings *@

<h2 style="text-align:center; margin-top:-10px; font-family:'Bodoni MT'">Client Search</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @style = "margin-top:30px;" }))
{
    <div class="form-group">

        @Html.TextBox("input", "", new { @class = "form-control", @placeholder = "Search using Client Name", required = "required", @style = "margin: 0px auto;" })
        <div style="text-align:center; margin-top:5px;">
            <button class="btn btn-default" type="submit" style="background-color:#FF2F2F; color:white; text-align:center;">Search</button>
        </div>
    </div>
}

@if (ViewBag.show)
{
    if (Model.Count() == 0)
    {
        <h4 style="color:#FF2F2F;">No matches found with that name.</h4>
    }

    else
    {
        <h4>Names containing the search input:</h4>
        foreach (var searchResult in Model)
        {

            <div style="margin-bottom:3px;">
                    <a class="btn btn-primary btn-md btn-block" href="Home/Info/@searchResult.PersonID" role="button"> @searchResult.FullName (@searchResult.PreferredName) </a>
            </div>
        }
    }
}