
@{
    ViewBag.Title = "Jace Woods HW7";
}

<style>
    input 
    {
        width: 100%;
        padding: 12px;
        margin-top: 40px;
    }
</style>

<h1 style="text-align:center; margin-top:150px; font-family:Impact">Internet Language Translator</h1>

<div>
    <form>
        <input type="text" name="input" placeholder="Start typing your message here...">
    </form>
</div>