
@{
    ViewBag.Title = "Jace Woods HW7";
}

<style>
    input {
        width: 100%;
        padding: 12px;
        margin-top: 40px;
    }
</style>




@section HelloScripts
{
    <script type="text/javascript" src="~/Scripts/helloworld.js"></script>
}

<h1 style="text-align:center; margin-top:150px; font-family:Impact">Internet Language Translator</h1>

<div>
    <form>
        <input id="Request" type="text" placeholder="Start typing your message here...">
    </form>
</div>

<p style="margin-left:10px; margin-top:5px;" id="message"></p>