@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Refrigerator Request Form</h2>
        <p>
            Are you a renter? Having Fridge problems? Not to worry! Simply visit the Refrigerator Request form and send us information 
            with your issue, including your name, number, apartment name and unit number, and a description of your issue!
        </p>
        @Html.ActionLink("Create a Request", "Create", "Renters", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-6">
        <h2>View all Current Requests</h2>
        <p>
            Click here to view all current requests made by renters, including their name, location, and description of their fridge issue!
        </p>
        @Html.ActionLink("View Requests", "Index", "Renters", null, new { @class = "btn btn-primary btn-large" })
    </div>
</div>